<!DOCTYPE html>
<html lang="en">

<head>
    <title>潛艇航行記錄</title>
    <meta charset="UTF-8" />
    <script src="./js/vue.js"></script>
    <script src="./js/maths.js"></script>
    <script src="./js/data.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/submarines.css">
</head>

<body>
    <div id="submarines" class="submarines">
        <div class="submarines-top">
            <img src="./image/chamomile-logo.jpg" />
            <h2>FF XIV 潛艇航行記錄</h2>
        </div>

        <div class="submarines-search">
            <div class="select">
                <button type="button" @click="yearBtnClick">{{ yearShow }}</button>
                <ul v-if="yearsShow">
                    <li :key="'years' + index" v-for="(item, index) in years" @click="yearLiClick(item)">
                        <span v-if="isNaN(item)">{{ item }}</span>
                        <span v-else>{{ item }} 年</span>
                    </li>
                </ul>
            </div>
            <div class="select">
                <button type="button" @click="monthBtnClick">{{ monthShow }}</button>
                <ul v-if="monthsShow">
                    <li :key="'months' + index" v-for="(item, index) in months" @click="monthLiClick(item)">
                        <span v-if="isNaN(item)">{{ item }}</span>
                        <span v-else>{{ item }} 月</span>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <table class="submarines-records-table">
                <thead>
                    <tr>
                        <th class="text-center">日期</th>
                        <th class="text-center">船名稱</th>
                        <th class="text-left">獲取</th>
                        <th class="text-left">備註</th>
                        <th class="text-center">當天收益</th>
                        <th class="text-center">總收益</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="'records' + index" v-for="(item, index) in records">
                        <td class="text-center">{{ item.date }}</td>
                        <td class="text-center">{{ item.ship }}</td>
                        <td class="text-left">{{ item.getsView }}</td>
                        <td class="text-left">{{ item.remark }}</td>
                        <td class="text-right">{{ item.gets }}</td>
                        <td class="text-right">{{ item.totalGets }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="./js/submarines.js"></script>
</body>

</html>